@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda:wght@300..900&family=Sigmar&display=swap');

* {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 80%;
    background-color: #76c893;
    border-radius: 15px;
}
