.body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#390099, #9e0059);
  background-size: 400% 400%;
  animation: bgGradient 4s ease-in 1.5s infinite alternate forwards;
}

.BOXCon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divClass {
  width: 700px;
  height: 500px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 40px;
  transition: all 0.3s ease;
}

@keyframes bgGradient {
  0% {
    background-position: 0 50%;
  }

  25% {
    background-position: 40% 75%;
  }

  50% {
    background-position: 60% 100%;
  }

  75% {
    background-position: 35% 70%;
  }

  100% {
    background-position: 0 50%;
  }
}

.divClass:hover {
  box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.2);
  background: conic-gradient(#015f4f, #003d66);
  background-size: 400% 400%;
  animation: bgGradient 2s ease-in-out 2s infinite forwards running;
  border: 10px outset rgba(255, 255, 255, 0.5);

}


.pr {
  width: 100%;
  margin-top: 30%;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.fancy-progress-bar {
  color: orangered;
  background: orangered;
}